@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');


.logoTitulo{
    text-align: center; 
    width: 100%;
    font-family:"Inter", sans-serif;       
    display: block;
    color: #426192;
    font-size: 70px;
    margin-top: 20px;
}