@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

.denuncia-container {
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    margin: 1rem;
}