@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  @apply m-0 font-sans antialiased;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, p, ul, li {
  @apply m-0 p-0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}